tutorialsproject/settings.py
tutorialsproject/__pycache__/
subjects/migrations/
categories/migrations/
categories/migrations/__pycache__/
subjects/migrations/__pycache__
../__pycache__/
subjects/__pycache__/
categories/__pycache__/
*.txt
