{% extends 'toextend/base.html' %}

{% block content %}
{% load static %}
<div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h3>Index content Index content</h3>
          <h1>Index content Index content.</h1>
          <h5>Index content Index content.</h5>
          <h5>Index content Index content.</h5>
        </div>
        <div class="col-lg-8 col-lg-offset-2 himg">
          <img src="{% static 'img/browser.png' %}" class="img-responsive">
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /headerwrap -->
{% endblock %}
